<style>
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Change the background color if needed */
  }

  .tabla-centrada {
    display: block;
    max-width: 50%; /* Adjust the width as needed */
    width: 100%;
    margin: 0 auto;
    margin-top: 15%; /* You can change this to adjust vertical positioning */
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* This helps in maintaining equal column widths */
  }

  td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: #fffacd; /* Light yellow background */
  }

  /* Header styles */
  .encabezado-tabla {
    background-color: #ffd700; /* Gold color for headers */
    color: black;
    font-weight: bold;
  }

  /* Title row styles */
  .titulo-tabla th {
    background-color: #d00000; /* Red background for title */
    color: white;
    text-align: center;
    padding: 8px 0; /* Adjust padding to control the height of the title row */
  }
  .LinkBuscar{
      display: none;
    }
</style>

<div class="tabla-centrada">
  <table>
    <tr class="titulo-tabla">
      <th colspan="2">DATOS DEL PROFESOR</th>
    </tr>
    <tr>
      <td class="encabezado-tabla">Nombre completo:</td>
      <td>{{usuario.nombreCompleto}}</td>
    </tr>
    <tr>
      <td class="encabezado-tabla">Nacionalidad:</td>
      <td>{{usuario.nacionalidad}}</td>
    </tr>
    <tr>
      <td class="encabezado-tabla">Títulos académicos:</td>
      <td>
        {{#each usuario.titulosAcademicos}}
          {{this.titulo}} en {{this.institucion}} (Obtenido en: {{this.fechaObtencion}})
          <br>
        {{/each}}
      </td>
    </tr>
    <tr>
      <td class="encabezado-tabla">Cursos o materias que imparte:</td>
      <td>
        {{#each usuario.cursosImpartidos}}
          {{nombreCurso}} (Código: {{this.codigoCurso}})
          <br>
        {{/each}}
      </td>
    </tr>
    <tr>
      <td class="encabezado-tabla">Departamento o facultad:</td>
      <td>{{usuario.departamentoFacultad}}</td>
    </tr>
    <tr>
      <td class="encabezado-tabla">Código:</td>
      <td>{{usuario.codigo}}</td>
    </tr>
  </table>
</div>
